@model IEnumerable<prova.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fg_ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fg_ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_departamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_departamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_departamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
